* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial, sans-serif;

  background:
    radial-gradient(
      circle at top right,
      rgba(0,245,255,0.15),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(139,92,246,0.15),
      transparent 30%
    ),
    linear-gradient(
      90deg,
      #020617 0%,
      #020617 40%,
      #030014 100%
    );

  background-attachment: fixed;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}